body {
    font-family: Montserrat, serif;
}


.main-menu {
    background: white;
    margin: 0 auto;
    padding: 1rem 0;
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.menu-item {
    font-size: 18px;
    letter-spacing: 2.7px;
    color: red;
    list-style: none;
    margin-right: 2rem;
}
.main-menu a {
    text-decoration: none;
    color: inherit;
}
.main-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3.2px;
    text-align: center;
    color: #373737;
}

img {
    width: 100%;

}

.text-content {
    font-size: 16px;
    margin: 28px 67.5px;
    color: #373737;
    text-align: center;
}
.started-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: red;
    text-transform: uppercase;
    font-size: 12px;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    border: none;
    margin: auto;
}
footer {
    line-height: 19.5px;
    text-align: right;
    margin: auto;
    width: 462px;
    color: #373737;
    letter-spacing: 2.4px;
    border-radius: 4px;
    outline: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

