@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container {
    width: 1280px;
    margin: 0 auto;
}
body{
    font-family: Roboto, sans-serif;

}
.section-header{
    height: 190px;
    padding-bottom: 48px;
}

.logo-name {
    font-size: 80px;
    line-height: 94px;
    text-align: left;
}
.link-logo{
text-decoration: none;
    color: #000000;
}
.selected-item {
    color:  deepskyblue;
}
.programming-types-menu-wrapper{
    background: #35444F;
    font-size: 24px;
    margin-bottom: 48px;
    margin-top: 38px;
}
.programming-types-menu-items{
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: center;
    color: #FFFFFF;

}
.programming-types-menu-element {
    padding: 26px 38px;
    border-left: 1px solid white;

}
.ramda-menu-wrapper{
    border: 1px solid #000000;
    height: 399px;
    width: 344px;
}
.ramda-menu-items{
    font-size: 27px;
    color: #485863;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

}
.ramda-menu-element{
    height: 27px;
    padding: 25px 44px;
}
.main-section-with-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-illustration-wrapper{
    border: 1px solid #000000;
    text-align: center;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-block{
    height: 832px;
    width: 885px;
}
.main-illustration{
    width: 320px;
    height: 381px;
}
.ramda-description{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}
.ramda-bottom-menu-wrapper {
    margin-top: 54px;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    color: #0C1927;
    padding: 0 20px;
}

.ramda-bottom-menu-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 69px;
}
.ramda-bottom-menu-element{
    padding: 21px;
}
.copyright-text{
    width: 190px;
    color: #010101;
    font-size: 24px;
    padding: 21px;
}
a {
    text-decoration: none;
}
.programming-types-menu-element:hover{
    background-color: #222F3A;
}
.link-programming-type{
    color: white;
}
.link-ramda-item{
    color: #485863;
}
.ramda-menu-element:hover{
    background-color: #DBDBDB;
    padding-left: 70px;
}
.link-ramda-bottom-menu{
    color: #0C1927;
}
.link-ramda-bottom-menu:hover{
    text-decoration: underline;
    color: #3181A6;
}

